<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
    	<!-- properties -->
        <property name="connection.datasource">java:/comp/env/jdbc/dbKirolaK</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property> 
        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        
        <mapping resource="com/kirolak/Standing.hbm.xml" />
        <mapping resource="com/kirolak/Match.hbm.xml" />
        <mapping resource="com/kirolak/Team.hbm.xml" />
        <mapping resource="com/kirolak/GroupTeam.hbm.xml" />
        <mapping resource="com/kirolak/CompetitionTeam.hbm.xml" />
        <mapping resource="com/kirolak/Round.hbm.xml" />
        <mapping resource="com/kirolak/Group.hbm.xml" />
        <mapping resource="com/kirolak/Stage.hbm.xml" />
        <mapping resource="com/kirolak/Sport.hbm.xml" />
        <mapping resource="com/kirolak/ScoreMode.hbm.xml" />
        <mapping resource="com/kirolak/StageType.hbm.xml" />
        <mapping resource="com/kirolak/MatchStatus.hbm.xml" />
        <mapping resource="com/kirolak/Competition.hbm.xml" />
    </session-factory>
</hibernate-configuration>
