@CHARSET "UTF-8";

body {
	background-color: #eeeeee;
	font-family: verdana, arial, sans-serif;
}

#banner {
	float:left;
	background-image: url(/kirolakdev/img/kirolakBanner.png);
	height: 70px;
	width: 500px;
	background-repeat: no-repeat;
	background-color: #527252;
}

#nav_bar {
	clear: left;
}

#content{
	float: left;
	text-transform: capitalize;
}

#widgets {
	float: left;
	text-transform: capitalize;
}

#footer{
	clear: left;
	text-transform: capitalize;
}