@CHARSET "UTF-8";

body {
	background-color: #eeeeee;
	font-family: verdana, arial, sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 10pt; 
}

#header {	
	background-color: #527252;
	width: 100%;
	height: 60px;
}

#banner {
	float:left;
	background-image: url(../img/kirolakBanner.png);
	height: 60px;
	width: 468px;
	background-repeat: no-repeat;
}

#nav_bar {
	background-color: white;
	clear: left;
	width: 100%;
	left-padding: 2px;
}

#content{
	float: left;
	padding: 5px;
	width: 700px;
	font-size: inherit;
}

#content h1{
	background-color: #527252;
	width: auto;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1px;
	margin: 1px;
	font-size: 14px;
}

#results {
	border-width: thin;
	width: auto;
	background-color: white;
	border-color: gray;
	border-style: solid;
	padding: 1px;
}

.update {
	width: auto;
	list-style: none;
	margin: 2px;
	padding: 2px;
	border:gray;
	border-style: solid;
	border-width: thin;
	background-color: white;
	font-size: inherit;
}

#widgets {
	float: right;
	width: 305px;
	padding: 5px;
}

.widget {
	border-width: thin;
	background-color: white;
	border-color: gray;
	border-style: solid;
	padding: 1px;
}

.widget_title {
	background-color: #527252;
	width: auto;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 5px;
}

#widgets ul {
	list-style: none; 
	padding: 5px;
	margin: 0px;
}

.match_day_time {
	padding: 0px;
}
.match {
	border-collapse: collapse;
	font-weight: bold;
}

.match_day_time {
	width: 200px;
}

.home_team {
	text-align: right;
	width: 200px;
}

.score_home {
	background-color: #995d39;
	text-align: right;
	color: white;
	width: 20px;
	margin: 0px;
}

.score_separator {
	color: white;
	background-color: #995d39;
	margin: 0px;
}

.score_visiting {
	color: white;
	background-color: #995d39;
	text-align: left;
	width: 20px;
}

#standings{
	width: 100%;
	display: table;
}

.standing_group{
	background-color: #527252;
	width: auto;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 5px;
}

#standings_headers{
	background-color: #527252;
	width: auto;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 5px;
}

.numeric_column_header{
	text-align: center;
	width: 3.5%;
	}
	
#standings_row{
	background-color: white;
	width: auto;
	color: #995d39;
	font-weight: bold;
	padding-left: 5px;
}

.numeric_column{
	text-align: right;
	}

.standing_points{
	text-align: right;
	background-color: #995d39;
	color: white;
	}

#footer{
	clear: left;
	text-transform: capitalize;
}